
@mixin center-vh {
  display: flex;
  align-items: center;
  justify-content: center;
}

.journey-builder-table {
  .content {
    border: 1px solid black;
    width: 100px;
    height: 100px;
  }
  .block {
    @include center-vh;
  }
  .content {
    @include center-vh;
  }
  .selector {
    @include center-vh;
    flex-direction: column;
  }
  .plus {
    @include center-vh;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid green;
    padding: 10px;
    height: 15px;
  }
}
